<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="favicon.png" type="image/png" sizes="128x128">
</head>

<body style="font-family: Montserrat, sans-serif;">
    <section class="d-flex justify-content-center align-items-center" id="bg1"><img class="d-flex justify-content-center align-items-md-center" id="img" src="assets/img/13568-animated-loader.gif"></section>
    <section class="d-flex justify-content-md-center align-items-md-center" id="section2" style="width: 100%;height: 82%;">
        <h1 class="text-right" id="headmain" style="margin-top: 0;">ADMIN</h1>
       
        <%- include('./include'); %>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>