<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>NMMUN</title>
    <link rel="shortcut icon" href="assets/img/fav.png" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700" />
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />

    <link rel="stylesheet" href="assets/css/Footer-Basic.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css" />


    <link rel="stylesheet" href="assets/css/styles2.css" />
</head>

<body style="font-family: Montserrat, sans-serif; background-color: rgb(0, 0, 0)">
    <section class="d-flex flex-column justify-content-between">
        <div id="herotop">
            <nav class="navbar navbar-light navbar-expand-md" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" id="navlogo" href="/"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
              <span class="sr-only">Toggle navigation</span
              ><span class="navbar-toggler-icon"></span>
            </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav text-center mx-auto">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="navlinks" href="./#videoandabout">About</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#comm">Committes</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#gallery">Gallery</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#sec3com">Secretariat</a>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="./#resources">Resources</a></li>

                        </ul>
                        <ul class="nav navbar-nav text-center">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="/login.html">LOGIN</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="/signup.html">SIGNUP</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <section class="committee-1">
      <div class="container">
        <table
          id="comm-table"
          style="border: 2px solid white; background: rgba(255, 255, 255, 0.3)"
        >
          <thead>
            <th>
              <tr style="align-content: center">
                <td style="padding: 10px">
                  <div class="commlogo">
                    <img src="assets/img/aippm.png" />
                  </div>
                  <h1 class="namecomm" style="margin-top:-100px; margin-right: 50px !important">All India Political Parties Meet</h1>
                </td>
              </tr>
            </th>
          </thead>

          <tbody>
            <tr>
              <td style="padding: 10px; margin-left: 1000px !important"></td>
            </tr>
            <tr>
              <td style="padding: 10px">
                <h6>Mandate:-</h6><p>
                  With more than 2000 registered political parties in India. The
                  politics of the nation has been constantly changing. Typically
                  called before the session of the parliament or introduction of
                  the bill the All-India Political Party Meets are conventions
                  that allow the diverse political groups of India to reach a
                  consensus on decisions of national importance before sessions
                  begin. With the absence of legislative power of the
                  parliament, the initial purpose of the forum was for
                  unrestricted political debate, discussion and deliberation
                  which may not be allowed in parliament due to time constraints
                  but this body now aids in providing a better insight into
                  national issues. The AIPPM committee in an MUN aims to mimic
                  this reality by reproducing the stages of policies and
                  jurisdiction, with delegates representing personalities from
                  the divergent group of Indian political parties. While
                  stepping into the shoes of assigned politician the AIPPM
                  committee expects its representatives to be well versed, with
                  their political party’s ideology, manifesto and beliefs which
                  helps the representatives grasp the multi-layered processes
                  that go behind policy-making and governance in India,
                  providing them with an explicit experience to the hitches and
                  hurdles that political parties accost in modern times. The
                  AIPPM committee unlike other conventional MUN committee
                  characterized by heated debates, cross talks, high levels of
                  negotiations and political democracy echoes hopes of change
                  and evolution!
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="padding: .5rem;">Download Resources From here:- </p>
            <a class="buttoncomm" href="https://drive.google.com/file/d/1DXsOWnDKl-DqjBYEDTq-3-lRXgu0VzAV/view?usp=sharing" target="_blank ">AIPPM Study Guide</a>
                                <a class="buttoncomm" href="https://drive.google.com/file/d/1loCEhEtXtMsLRqM8irtIRxbZbnt02E1V/view?usp=sharing" target="_blank ">AIPPM- Constitution of India(as on 2019)</a>
                                <a class="buttoncomm" href="https://drive.google.com/file/d/1cuUeyO3k9Uh52jbZVKCFED11nDoicGjR/view?usp=sharing" target="_blank ">AIPPM- Constitution of India(as on 2020)</a>
                                </td>
                                </tr>


                                </tbody>
                                </table>
                    </div>
    </section>
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://instagram.com/narseemonjeemun?igshid=1waoht915rn8x "><i class="icon ion-social-instagram"></i></a
          ><a href="https://twitter.com/narseemonjeemun?s=08 "
            ><i class="icon ion-social-twitter"></i
          ></a>
                <a href="https://www.facebook.com/494536580629527/ "><i class="icon ion-social-facebook"></i
          ></a>
                <a href="https://www.linkedin.com/company/nmmun "><i class="icon ion-social-linkedin"></i
          ></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">NMMUN</a></li>
                <li class="list-inline-item"><a href="#sec3com ">Team</a></li>
                <li class="list-inline-item"><a href="#sec4head ">Committees</a></li>
            </ul>
            <p class="text-center" id="footerpara ">
                All Right Reserved by NMMUN<br />
            </p>
        </footer>
    </div>
</body>

</html>