<div>
    <span style="font-size: xx-small; color: red">*<%= userdata.committee2? userdata.committee2 : "2nd Committee Prefrence" %></span
  >
  <select
  name="country2"
  id="country2"
  placeholder="1st committee prefrence"
  onchange="populate2('country2' ,'country21' , 'country22' , 'country23')"
>
 <option value=""></option>
  <option value="Aippm">Aippm</option>
  <option value="UNSC">UNSC</option>
  <option value="DISEC">DISEC</option>
  <option value="WHA">WHA</option>
  <option value="HLPF">HLPF</option>
  <option value="CRISIS Comittee">CRISIS Comittee</option>
  <option value="SOCHUM">SOCHUM</option>
</select>

</div>

<!-- <label for="country">Country</label
  ><span style="color: red !important; display: inline; float: none">*</span> -->
    <span style="font-size: xx-small; color: red">*<%= userdata.prefrence21? userdata.prefrence21 : "1st Portfolio Prefrence" %></span
>
    <select id="country21" name="country21" placeholder="1st portfolio prefrence" class="form-control"></select>
    <span style="font-size: xx-small; color: red">*<%= userdata.prefrence22? userdata.prefrence22 : "2nd Portfolio Prefrence" %></span
  >
<select
  id="country22"
  name="country22"
  placeholder="1st portfolio prefrence"
  class="form-control"
></select>
<span style="font-size: xx-small; color: red"
    >*<%= userdata.prefrence23? userdata.prefrence23 : "3rd Portfolio Prefrence" %></span
  >
<select
  id="country23"
  name="country23"
  placeholder="1st portfolio prefrence"
  class="form-control"
></select>

<script>
  function populate2(a,b , c, d) {
    var a = document.getElementById(a);
    var b = document.getElementById(b);
    var c = document.getElementById(c);
    var d = document.getElementById(d);
    console.log("function is running");
    
    b.innerHTML = "";
    c.innerHTML = "";
    d.innerHTML = "";

    if (a.value == "Aippm") {
      var optionArray = [
      
"Narendra Modi (Bharatiya Janata Party)",
"Amit Shah (Bharatiya Janata Party)",
"Rajnath Singh (Bharatiya Janata Party)",
"Nirmala Sitharaman (Bharatiya Janata Party)",
"Nitin Gadkari (Bharatiya Janata Party)",
"Ravi Shankar Prasad (Bharatiya Janata Party)",
"Uma Bharti (Bharatiya Janata Party)",
"Smriti Irani (Bharatiya Janata Party)",
"Yogi Adityanath (Bharatiya Janata Party)",
"Piyush Goyal (Bharatiya Janata Party)",
"Maneka Gandhi (Bharatiya Janata Party)",
"Sambit Patra (Bharatiya Janata Party)",
"Anurag Thakur (Bharatiya Janata Party)",
"Tejasvi Surya (Bharatiya Janata Party)",
"O Panneer Selvam (AIADMK)",
"Nitish Kumar (Janata Dal United)",
"Naveen Pattnaik (Biju Janta Dal)",
"Adhir Ranjan Chowdhury (Indian National Congress)",
"Rahul Gandhi (Indian National Congress)",
"Sonia Gandhi (Indian National Congress)",
"Dr. Shashi Tharoor (Indian National Congress)",
"Ghulam Nabi Azad (Indian National Congress)",
"Uddhav Thackeray (Shiv Sena)",
"Sanjay Raut (Shiv Sena)",
"Sharad Pawar (Nationalist Congress Party)",
"Supriya Sule (Nationalist Congress Party)",
"Arvind Kejriwal (Aam Aadmi Party)",
"Asaddusin Owaisi (AIMIM)",
"Lalu Prasad Yadav (Rashtriya Janata Dal)",
"Mamata Banerjee (All Indian Trinamool Congress)",
"Mahua Moitra (All India Trinamool Congress)",
"Mehbooba Mufti (J&K PDP)",
"Harsimrat Kaur Badal (Shiromani Akali Dal)",
"M K Stalin (DMK)",
"Jagan Mohan Reddy (YSR Congress)",
"N Chandrababu Naidu (TDP)",
"Kanhaiya Kumar (Communist Party of India)",
"Sitaram Yechury (Communist Party of India - Marxist)",
 "Raj Thackeray (Maharashtra Navnirman Sena)",     ];
    } 
    else if (a.value == "HLPF") {
      var optionArray = [
      
"CAYMAN ISLANDS",
"COSTA RICA",
"ESTONIA",
"GIBRALTAR",
"ISLE OF MAN",
"VENEZUELA",
"HONG KONG",
"IRAQ",
"IRAN",
"NEPAL",
"BANGLADESH",
"KUWAIT",
"BAHRAIN",
"LESOTHO",
"MACAU",
"MOROCCO",
"IRELAND",
"ARGENTINA",
"BULGARIA",
"ITALY",
"ROMANIA",
"SOUTH AFRICA",
"SPAIN",
"UNITED ARAB EMIRATES",
"INDONESIA",
"VIETNAM",
"OMAN",
"QATAR",
"TAIWAN",
"PEOPLE'S REPUBLIC OF CHINA",
"AUSTRALIA",
"CANADA",
"DENMARK",
"JAPAN",
"SWITZERLAND",
"ARGENTINA",
"AUSTRIA",
"FINLAND",
 "ICELAND",
"ISRAEL",
"NORWAY", 
"POLAND",
"RUSSIAN FEDERATION",
"SOUTH AFRICA",
"SWEDEN",
"UNITED KINGDOM",
"UNITED STATES OF AMERICA",
"LUXEMBOURG",
"SINGAPORE",
"SOUTH KOREA",
"INDIA",     ];
    }

    else if (a.value == "ESS") {
      var optionArray = [
      
"UK",
"USSR",
"France",
"Republic Of China",
"East Germany",
"West Germany",
"India",
"Argentina",
"Belgium",
"Italy",
"Spain",
"Republic of Congo",
"Poland",
"Cuba",
"PRC",
"Iran",
"Iraq",
"Pakistan",
"Israel",
"Japan",
"Katanga",
"Portugal",     ];
    }


    else if (a.value == "SOCHUM") {
      var optionArray = [
      
"Argentina",
"Guyana ",
"Bolivia",
"Brazil",
"Chile",
"Colombia",
"Denmark",
"Sweden",
"Norway", 
"Hondurus", 
"Finland", 
"China", 
"Russian Federation", 
"India", 
"Pakistan", 
"Singapore", 
"Malaysia", 
"New zealand", 
"Australia", 
"USA", 
"Mexico", 
"United Kingdom", 
"French Republic", 
"Germany", 
"South Africa", 
"Kenya", 
"Uganda", 
"Tanzania", 
"Iraq", 
"Israel", 
"Japan", 
"Canada", 
"Vietnam", 
"Combodia", 
"Laos", 
"Turkey",
"Egypt", 
"Algeria",
"Indonesia",
"Maldives",
"Ukraine", 
    ];
    }

    else if (a.value == "DISEC") {
      var optionArray = [
      
"Afghanistan",
"Austria",
"Belarus",
"Belgium",
"Brazil",
"Burkina Faso",
"Cameroon",
"China",
"Czech Republic",
"Egypt",
"Eritrea",
"Ethiopia",
"France",
"Germany",
"Honduras",
"India",
"Iran",
"Israel",
"Italy",
"Ivory Coast",
"Japan",
"Kenya",
"Lebanon",
"Libya",
"Mexico",
"Nepal",
"Niger",
"Nigeria",
"North Korea",
"Pakistan",
"Russia",
"Saudi Arabia",
"Somalia",
"South Korea",
"South Sudan",
"Spain",
"Sudan",
"Syria",
"Turkey",
"Ukraine",
"United Kingdom",
"United States of America", 
    ];
    }  
    else if (a.value == "DISEC") {
      var optionArray = [
      
"Afghanistan",
"Austria",
"Belarus",
"Belgium",
"Brazil",
"Burkina Faso",
"Cameroon",
"China",
"Czech Republic",
"Egypt",
"Eritrea",
"Ethiopia",
"France",
"Germany",
"Honduras",
"India",
"Iran",
"Israel",
"Italy",
"Ivory Coast",
"Japan",
"Kenya",
"Lebanon",
"Libya",
"Mexico",
"Nepal",
"Niger",
"Nigeria",
"North Korea",
"Pakistan",
"Russia",
"Saudi Arabia",
"Somalia",
"South Korea",
"South Sudan",
"Spain",
"Sudan",
"Syria",
"Turkey",
"Ukraine",
"United Kingdom",
"United States of America", 
    ];
    }

    else if (a.value == "WHA") {
      var optionArray = [
      
"Afghanistan",
"Argentina",
"Australia",
"Austria",
"Bahrain",
"Bangladesh",
"Belgium",
"Brazil",
"Cameroon",
"Canada",
"China",
"Congo (Democratic Republic of the)",
"Costa Rica",
"Croatia",
"Cuba",
"Denmark",
"Egypt",
"Ethiopia",
"France",
"Germany",
"Iceland",
"India",
"Italy",
"Japan",
"Kenya",
"Korea (Republic of)",
"Malaysia",
"Mexico",
"Netherlands",
"New Zealand",
"Nigeria",
"Norway",
"Pakistan",
"Philippines",
"Poland",
"Portugal",
"Qatar",
"Russian Federation",
"Somalia",
"South Africa",
"Sweden",
"Syrian Arab Republic",
"Thailand",
"Tunisia",
"Turkey",
"Uganda",
"United Kingdom of Great Britain and Northern Ireland",
"United States of America",
"Venezuela (Bolivarian Republic of)", 
    ];
    } 

else {
      var optionArray = [
        "Afghanistan",
        "Albania",
        "Algeria",
        "Andorra",
        "Angola",
        "Anguilla",
        "Antigua &amp; Barbuda",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bosnia &amp; Herzegovina",
        "Botswana",
        "Brazil",
        "British Virgin Islands",
        "Brunei",
        "Bulgaria",
        "Burkina Faso",
        "Burundi",
        "Cambodia",
        "Cameroon",
        "Cape Verde",
        "Cayman Islands",
        "Chad",
        "Chile",
        "China",
        "Colombia",
        "Congo",
        "Cook Islands",
        "Costa Rica",
        "Cote D Ivoire",
        "Croatia",
        "Cruise Ship",
        "Cuba",
        "Cyprus",
        "Czech Republic",
        "Denmark",
        "Djibouti",
        "Dominica",
        "Dominican Republic",
        "Ecuador",
        "Egypt",
        "El Salvador",
        "Equatorial Guinea",
        "Estonia",
        "Ethiopia",
        "Falkland Islands",
        "Faroe Islands",
        "Fiji",
        "Finland",
        "France",
        "French Polynesia",
        "French West Indies",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guam",
        "Guatemala",
        "Guernsey",
        "Guinea",
        "Guinea Bissau",
        "Guyana",
        "Haiti",
        "Honduras",
        "Hong Kong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Isle of Man",
        "Israel",
        "Italy",
        "Jamaica",
        "Japan",
        "Jersey",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kuwait",
        "Kyrgyz Republic",
        "Laos",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macau",
        "Macedonia",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "Mauritania",
        "Mauritius",
        "Mexico",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Namibia",
        "Nepal",
        "Netherlands",
        "Netherlands Antilles",
        "New Caledonia",
        "New Zealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Norway",
        "North Korea",
        "Oman",
        "Pakistan",
        "Palestine",
        "Panama",
        "Papua New Guinea",
        "Paraguay",
        "Peru",
        "Philippines",
        "Poland",
        "Portugal",
        "Puerto Rico",
        "Qatar",
        "Reunion",
        "Romania",
        "Russia",
        "Rwanda",
        "Saint Pierre &amp; Miquelon",
        "Samoa",
        "San Marino",
        "Satellite",
        "Saudi Arabia",
        "Senegal",
        "Serbia",
        "Seychelles",
        "Sierra Leone",
        "Singapore",
        "Slovakia",
        "Slovenia",
        "South Africa",
        "South Korea",
        "Spain",
        "Sri Lanka",
        "St Kitts &amp; Nevis",
        "St Lucia",
        "St Vincent",
        "St. Lucia",
        "Sudan",
        "Suriname",
        "Swaziland",
        "Sweden",
        "Switzerland",
        "Syria",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Timor L'Este",
        "Togo",
        "Tonga",
        "Trinidad &amp; Tobago",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Turks &amp; Caicos",
        "Uganda",
        "Ukraine",
        "United Arab Emirates",
        "United Kingdom",
        "United States of America",
        "Uruguay",
        "Uzbekistan",
        "Venezuela",
        "Vietnam",
        "Virgin Islands (US)",
        "Yemen",
        "Zambia",
        "Zimbabwe",
        "Others",
      ];
    }

    for (var option in optionArray) {
      var pair = optionArray[option];
      var newOption = document.createElement("option");
      newOption.value = pair;
      newOption.innerHTML = pair;
      b.options.add(newOption);
    }
    for (var option in optionArray) {
      var pair = optionArray[option];
      var newOption = document.createElement("option");
      newOption.value = pair;
      newOption.innerHTML = pair;
      c.options.add(newOption);
    }
    for (var option in optionArray) {
      var pair = optionArray[option];
      var newOption = document.createElement("option");
      newOption.value = pair;
      newOption.innerHTML = pair;
      d.options.add(newOption);
    }
  }
</script>