<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NMMUN</title>
    <link rel="shortcut icon" href="assets/img/fav.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/styles2.css">


</head>

<body style="font-family: Montserrat, sans-serif;background-color: rgb(0,0,0);">
    <section class="d-flex flex-column justify-content-between">
        <div id="herotop">
            <nav class="navbar navbar-light navbar-expand-md" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" id="navlogo" href="/"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav text-center mx-auto">
                            <li class="nav-item" role="presentation"> <a class="nav-link active" id="navlinks" href="./#videoandabout">About</a
                                >
                              </li>
                              <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#comm">Committes</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#gallery">Gallery</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#sec3com">Secretariat</a>
                                <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="./#resources">Resources</a></li>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav text-center">
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/login.html">LOGIN</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/signup.html">SIGNUP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="committee-1">
        <div class="container">
            <table id="comm-table" style="border: 2px solid white; background: rgba(255, 255, 255, 0.3); ">
                <thead>
                    <th>
                        <tr style="align-content:center ;">
                            <td style="padding: 10px;">
                                <div class="commlogo">
                                    <img src="assets/img/hlpf.png">
                                </div>
                                <h2 class="namecomm" id="disec">The High-Level Political Forum on Sustainable Development</h2>


                            </td>
                        </tr>

                    </th>
                </thead>


                <tbody>
                    <tr>
                        <td style="padding: 10px; margin-left: 1000px !important;">

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">
                            <h6>Mandate:-</h6>
                            <p>
                                The HLPF meets every four years at the level of Heads of State and Government under the auspices of the UN General Assembly (next in 2019, then 2023 etc.) and every year under the auspices of the UN Economic and Social Council (ECOSOC). The HLPF adopts
                                a Ministerial Declaration and provides a Chair's summary of the discussions. </p>


                            <ol type="a">
                                <li>
                                    provide political leadership, guidance and recommendations for sustainable development;
                                </li>
                                <li>
                                    enhance integration of the three dimensions of sustainable development in a holistic and cross-sectoral manner at all levels;
                                </li>

                                <li>
                                    provide a dynamic platform for regular dialogue and for stocktaking and agenda-setting to advance sustainable development;
                                </li>

                                <li>
                                    have a focused, dynamic and action-oriented agenda, ensuring the appropriate consideration of new and emerging sustainable development challenges;
                                </li>

                                <li>
                                    follow up and review progress in the implementation of sustainable development commitments contained in Agenda 21, the Johannesburg Plan of Implementation, the Barbados Programme of Action, the Mauritius Strategy and The Future We Want and, as appropriate,
                                    relevant outcomes of other United Nations summits and conferences, including the outcome of the Fourth United Nations Conference on the Least Developed Countries as well as their respective means of implementation;
                                </li>
                                <li>
                                    encourage high-level system-wide participation of United Nations agencies, funds and programmes and invite to participate, as appropriate, other relevant multilateral financial and trade institutions and treaty bodies, within their respective mandates
                                    and in accordance with United Nations rules and provisions;
                                </li>
                                <li>improve cooperation and coordination within the United Nations system on sustainable development programmes and policies;

                                </li>
                                <li>
                                    promote transparency and implementation by further enhancing the consultative role and participation of major groups and other relevant stakeholders at the international level in order to better make use of their expertise, while retaining the intergovernmental
                                    nature of discussions;

                                </li>
                                <li>
                                    promote the sharing of best practices and experiences relating to the implementation of sustainable development and, on a voluntary basis, facilitate sharing of experiences, including successes, challenges and lessons learned;

                                </li>
                                <li>
                                    strengthen the science-policy interface through review of documentation, bringing together dispersed information and assessments, including in the form of a global sustainable development report, building on existing assessments;

                                </li>
                                <li>
                                    enhance evidence-based decision-making at all levels and contribute to strengthening ongoing capacity-building for data collection and analysis in developing countries; and </li>
                                <li>
                                    promote system-wide coherence and coordination of sustainable development policies

                                </li>

                            </ol>
                            <p>The HLPF is mandated to provide political leadership and guidance; to address new and emerging sustainable development challenges; and to enhance the integration of economic, social and environmental dimensions of sustainable
                                development. In that regard, the HLPF is an important forum to bring together the input and expertise from a wide range of stakeholders from civil society organizations to enterprises and academia. It also incorporates
                                the expertise of the UN agencies and programmes from the economic, social and environmental field, all working on sustainable development. </p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="padding: .5rem;">Download Resources from here:- </p>

                            <a class="buttoncomm" href="https://drive.google.com/file/d/1Lt2TdiohjFINUYnQPBB75P1JuWNgRckF/view?usp=sharing" target="_blank ">HLPF Study Guide</a>
                            <a class="buttoncomm" href="https://drive.google.com/file/d/1rzdA5PFRLa4PC220JfaLmVtFdkUODIcj/view?usp=sharing" target="_blank ">HLPF - The Future Money Playbook</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="footer-basic ">
        <footer>
            <div class="social "><a href="https://instagram.com/narseemonjeemun?igshid=1waoht915rn8x "><i class="icon ion-social-instagram "></i></a><a href="https://twitter.com/narseemonjeemun?s=08 "><i class="icon ion-social-twitter "></i></a>
                <a href="https://www.facebook.com/494536580629527/ "><i class="icon ion-social-facebook "></i></a>
                <a href="https://www.linkedin.com/company/nmmun "><i class="icon ion-social-linkedin "></i></a>
            </div>
            <ul class="list-inline ">
                <li class="list-inline-item "><a href="/">NMMUN</a></li>
                <li class="list-inline-item "><a href="#sec3com ">Team</a></li>
                <li class="list-inline-item "><a href="#sec4head ">Committees</a></li>
            </ul>
            <p class="text-center " id="footerpara ">All Right Reserved by NMMUN<br></p>
        </footer>
    </div>

</body>

</html>