 
 <nav class="navbar navbar-light navbar-expand-md fixed-top adminnav" >
            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-around align-items-center justify-content-md-center"
                    id="navcol-1" style="margin-bottom: 116px;">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/members">MEMBERS</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/notification">NOTIFICATION</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/checkallnotice">ALL NOTIFICATION</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
