<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="icon" href="favicon.png" type="image/png" sizes="128x128">
    <title>
        <%= pagetitle %>
    </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <% if(error) { %>

        <div style="text-align: center; margin-bottom: 0%;" class="alert alert-warning">
            <strong> <%= error %></strong>
        </div>
        <% } %>
            <div class="centered">
                <div class="row" style=" height: 100vh; display: flex; justify-content: center; align-items: center;">
                    <form class="form-inline" style="margin: 35px;" action="/confirmreset" method="POST">
                        <div class="form-group mb-2">
                            <label for="staticEmail2" class="sr-only">Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="<%= userinfo.email %>" style="width: 250px;" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <input name="password" type="password" class="form-control" id="inputPassword2" placeholder="Password" />
                        </div>
                        <input type="hidden" name="userid" value="<%= userinfo._id %>">
                        <button type="submit" class="btn btn-primary mb-2">
            Reset Password
          </button>
                    </form>
                </div>
            </div>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>