<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #ffffff; height: 100vh; text-align: center; margin-top: 200px;">
    <img style="height: 300px; width: 300px;" src="assets/img/stay.gif">
</body>
</html>