<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NMMUN</title>
    <link rel="shortcut icon" href="assets/img/fav.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">

    <link rel="stylesheet" href="assets/css/styles2.css">

</head>

<body style="font-family: Montserrat, sans-serif;background-color: rgb(0,0,0);">
    <section class="d-flex flex-column justify-content-between">
        <div id="herotop">
            <nav class="navbar navbar-light navbar-expand-md" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" id="navlogo" href="/"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav text-center mx-auto">
                            <li class="nav-item" role="presentation"> <a class="nav-link active" id="navlinks" href="./#videoandabout">About</a
                                >
                              </li>
                              <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#comm">Committes</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#gallery">Gallery</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="navlinks" href="./#sec3com">Secretariat</a>
                                <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="./#resources">Resources</a></li>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav text-center">
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/login.html">LOGIN</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navlinks" href="/signup.html">SIGNUP</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="committee-1">
        <div class="container">
            <table id="comm-table" style="border: 2px solid white; background: rgba(255, 255, 255, 0.3); ">
                <thead>
                    <th>
                        <tr style="align-content:center ;">
                            <td style="padding: 10px;">
                                <div class="commlogo">
                                    <img src="assets/img/unsc.png">
                                </div>
                                <h1 class="namecomm">United Nations Security Council </h1>


                            </td>
                        </tr>

                    </th>
                </thead>


                <tbody>
                    <tr>
                        <td style="padding: 10px; margin-left: 1000px !important;">

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">
                            <h6>Mandate:-</h6>
                            <p>
                                The United Nations Charter established six main organs of the United Nations, including the Security Council. It gives primary responsibility for maintaining international peace and security to the Security Council, which may meet whenever peace is threatened.
                            </p>

                            <p>
                                When a complaint concerning a threat to peace is brought before it, the Council’s first action is usually to recommend that the parties try to reach agreement by peaceful means. The Council may:
                            </p>
                            <ul>
                                <li>
                                    set forth principles for such an agreement;
                                </li>
                                <li>
                                    undertake investigation and mediation, in some cases;
                                </li>

                                <li>
                                    dispatch a mission;
                                </li>

                                <li>
                                    appoint special envoys; or
                                </li>

                                <li>
                                    request the Secretary-General to use his good offices to achieve a pacific settlement of the dispute.
                                </li>

                            </ul>
                            <p>When a dispute leads to hostilities, the Council’s primary concern is to bring them to an end as soon as possible. In that case, the Council may:
                            </p>
                            <ul>
                                <li>
                                    issue ceasefire directives that can help prevent an escalation of the conflict;
                                </li>
                                <li>
                                    dispatch military observers or a peacekeeping force to help reduce tensions, separate opposing forces and establish a calm in which peaceful settlements may be sought
                                </li>

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="padding: .5rem;">Download Resources from here:- </p>
                            <a class="buttoncomm" href="https://drive.google.com/file/d/1Mb7vLeNlNshR32Fi3HfSx67RGOkH5x2x/view?usp=sharing" target="_blank ">UNSC Study Guide</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="footer-basic ">
        <footer>
            <div class="social "><a href="https://instagram.com/narseemonjeemun?igshid=1waoht915rn8x "><i class="icon ion-social-instagram "></i></a><a href="https://twitter.com/narseemonjeemun?s=08 "><i class="icon ion-social-twitter "></i></a>
                <a href="https://www.facebook.com/494536580629527/ "><i class="icon ion-social-facebook "></i></a>
                <a href="https://www.linkedin.com/company/nmmun "><i class="icon ion-social-linkedin "></i></a>
            </div>
            <ul class="list-inline ">
                <li class="list-inline-item "><a href="/">NMMUN</a></li>
                <li class="list-inline-item "><a href="#sec3com ">Team</a></li>
                <li class="list-inline-item "><a href="#sec4head ">Committees</a></li>
            </ul>
            <p class="text-center " id="footerpara ">All Right Reserved by NMMUN<br></p>
        </footer>
    </div>

</body>

</html>